/**
 * Typography
 */
$font-size-base: 16px;
$font-family-base: "Poppins", sans-serif;
$font-weight-base: 400;
$line-height-base: 1.56;
$font-family-headings: "Avenir Next", sans-serif;
$font-weight-headings: 700;

/**
 * Border radius
 */
$border-radius-small: 5px;
$border-radius-base: 15px;
$border-radius-large: 20px;

