@use "vars/base";
@use "vars/media";
@use "vars/mixins";
@use "sass:color";

.btn {
  display: inline-flex;
  vertical-align: middle;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 13px 15px;
  min-height: 3.2rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: base.$border-radius-base;
  box-sizing: border-box;
  border: 0;
  position: relative;
  z-index: 0;
  white-space: nowrap;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  .icon {
    fill: #fff;
    position: relative;
    margin-right: 8px;

    @include mixins.transition;
  }

  &--icon-mobile {
    font-size: 0;

    @media (min-width: media.$screen-sm) {
      font-size: 1rem;
    }

    .icon {
      margin: 0;

      @media (min-width: media.$screen-sm) {
        margin-right: 8px;
      }
    }
  }

  &--xs {
    font-size: 0.8571rem;
    padding: 0.2rem 1rem;
    min-height: initial;
  }

  &--icon {
    justify-content: center;
    align-items: center;

    .icon {
      margin: 0;
    }
  }
}

@media (width <= 1024px) {
  .btn {
    &--transparent {
      padding: 10px 25px;
    }
  }
}
