@use "vars/media";
@use "vars/base";

.commentForm {
  padding: 1rem;
  position: relative;
  border-radius: base.$border-radius-base;
  background-color: var(--app-color-bg-transparent);
}

.commentFormInner {
  display: grid;
  gap: 1rem;

  @media (min-width: media.$screen-xs) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.commentFormRow {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;

  &Message {
    grid-column: span 3;
    align-items: flex-start;
  }
}

.commentFormAccept {
  font-size: 0.875rem;
  margin: 0 0 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.75rem;
  grid-column: span 3;
}

.commentFormButton {
  // justify-self: flex-start;
}
